---
- name: install common packages
  with_items: "{{ common_packages }}"
  package:
    name: "{{ item.name }}"
    state: latest

- name: create certs dir
  file:
    path: /etc/ssl/certs
    state: directory

- name: get hoster fqdn
  shell: "hostname -d"
  register: hoster
